<div class="container-fluid">
<div class="row">
    <div class="move col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <img src="../../../assets/Img/Skill.jfif" class="img-fluid" width="600">
    </div>

    <div class="text-center col-xs-6 col-sm-6 col-md-6 col-lg-4">
        <circle-progress
            [percent]="100"
            [radius]="65"
            [showUnits]="false"
            [title]="'Compromiso'"
            [titleColor]="'rgba(38,50,56,1.0)'"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'rgba(249,168,37,1.0)'"
            [innerStrokeColor]="'rgba(253,216,53,1.0)'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>

    <div class="text-center col-xs-6 col-sm-6 col-md-6 col-lg-4">
        <circle-progress
            [percent]="100"
            [radius]="65"
            [showUnits]="false"
            [title]="'Atencion al Detalle'"
            [titleColor]="'rgba(38,50,56,1.0)'"
            [titleFontSize]="'14px'"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'rgba(249,168,37,1.0)'"
            [innerStrokeColor]="'rgba(253,216,53,1.0)'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>

    <div class="text-center col-xs-6 col-sm-6 col-md-6 col-lg-4">
        <circle-progress
            [percent]="100"
            [radius]="65"
            [showUnits]="false"
            [title]="'Trabajo en equipo'"
            [titleColor]="'rgba(38,50,56,1.0)'"
            [titleFontSize]="'14px'"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'rgba(249,168,37,1.0)'"
            [innerStrokeColor]="'rgba(253,216,53,1.0)'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>

    <div class="text-center col-xs-6 col-sm-6 col-md-6 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="65"
            [showUnits]="false"
            [title]="'Git y GitHub'"
            [titleColor]="'rgba(38,50,56,1.0)'"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'rgba(191,54,12,1.0)'"
            [innerStrokeColor]="'rgba(255,110,70,1.0)'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>

    <div class="text-center col-xs-6 col-sm-6 col-md-6 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="65"
            [showUnits]="false"
            [title]="'HTML y CSS'"
            [titleColor]="'rgba(38,50,56,1.0)'"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'rgba(191,54,12,1.0)'"
            [innerStrokeColor]="'rgba(255,110,70,1.0)'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>

    <div class="text-center col-xs-6 col-sm-6 col-md-6 col-lg-4">
        <circle-progress
            [percent]="75"
            [radius]="65"
            [showUnits]="false"
            [title]="'JavaScript'"
            [titleColor]="'rgba(38,50,56,1.0)'"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'rgba(191,54,12,1.0)'"
            [innerStrokeColor]="'rgba(255,110,70,1.0)'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>

    <div class="text-center col-xs-6 col-sm-6 col-md-6 col-lg-4">
        <circle-progress
            [percent]="75"
            [radius]="65"
            [showUnits]="false"
            [title]="'TypeScript'"
            [titleColor]="'rgba(38,50,56,1.0)'"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'rgba(191,54,12,1.0)'"
            [innerStrokeColor]="'rgba(255,110,70,1.0)'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>

    <div class="text-center col-xs-6 col-sm-6 col-md-6 col-lg-4">
        <circle-progress
            [percent]="65"
            [radius]="65"
            [showUnits]="false"
            [title]="'HTTP/HTTPS and REST'"
            [titleColor]="'rgba(38,50,56,1.0)'"
            [titleFontSize]="'14px'"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'rgba(26,35,126,1.0)'"
            [innerStrokeColor]="'rgba(63,81,181,1.0)'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>

    <div class="text-center col-xs-6 col-sm-6 col-md-6 col-lg-4">
        <circle-progress
            [percent]="65"
            [radius]="65"
            [showUnits]="false"
            [title]="'Base de Datos'"
            [titleColor]="'rgba(38,50,56,1.0)'"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'rgba(26,35,126,1.0)'"
            [innerStrokeColor]="'rgba(63,81,181,1.0)'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>

    <div class="text-center col-xs-6 col-sm-6 col-md-6 col-lg-4">
        <circle-progress
            [percent]="65"
            [radius]="65"
            [showUnits]="false"
            [title]="'Administracion de Servidores'"
            [titleColor]="'rgba(38,50,56,1.0)'"
            [titleFontSize]="'10px'"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'rgba(26,35,126,1.0)'"
            [innerStrokeColor]="'rgba(63,81,181,1.0)'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>

    <div class="text-center col-xs-6 col-sm-6 col-md-6 col-lg-4">
        <circle-progress
            [percent]="65"
            [radius]="65"
            [showUnits]="false"
            [title]="'Desarrollo Web'"
            [titleColor]="'rgba(38,50,56,1.0)'"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'rgba(26,35,126,1.0)'"
            [innerStrokeColor]="'rgba(63,81,181,1.0)'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>

</div>
</div>