<div class="container-fluid">
  <div class="row">
    <div class="move col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <img src="../../../assets/Img/Proyectos.jfif" class="img-fluid" width="600">
    </div>

    <div class="container col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <div id="carouselExampleDark" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5" aria-label="Slide 6"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="6" aria-label="Slide 7"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="7" aria-label="Slide 8"></button>
            </div>
            <div class="carousel-inner shadow-lg p-3 mb-5 bg-body rounded">
              <div class="carousel-item active" data-bs-interval="16000">
                <img src="../../../assets/Img/1.- Form.png" class="d-block w-100" width="600" height="400" alt="Practica Formulario">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Practica Formulario</h5>
                  <p>Poniendo en practica lo aprendido en el programa con CSS y HTML.</p>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="../../../assets/Img/2.- Port.png" class="d-block w-100" width="600" height="400" alt="Primer Portfolio">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Primer Portfolio</h5>
                  <p>colocando imagenes, dando color y forma con HTML y CSS.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="../../../assets/Img/3.- PW.png" class="d-block w-100" width="600" height="400" alt="Primera Pagina Web">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Primera Pagina Web</h5>
                  <p>colocando imagenes, dando color y forma con HTML y CSS.</p>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="../../../assets/Img/4.- Pro1.png" class="d-block w-100" width="600" height="400" alt="Primera Pagina Web con JavaScripts">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Primera Pagina Web con JavaScripts</h5>
                  <p>Practica y Programacion con JavaScripts Vanilla.</p>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="../../../assets/Img/5.- Pro2.png" class="d-block w-100" width="600" height="400" alt="Primera Pagina Web con JavaScripts">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Primera Pagina Web con JavaScripts</h5>
                  <p>Practica y Programacion con JavaScripts Vanilla.</p>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="../../../assets/Img/6.- Pro3.png" class="d-block w-100" width="600" height="400" alt="Primera Pagina Web con JavaScripts">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Primera Pagina Web con JavaScripts</h5>
                  <p>Practica y Programacion con JavaScripts Vanilla.</p>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="../../../assets/Img/7.- Port2.png" class="d-block w-100" width="600" height="400" alt="Portfolio Personal Actual">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Portfolio Personal Actual</h5>
                  <p>Portfolio Personal, practica y programacion con TypeScripts.</p>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="../../../assets/Img/8.-Port3.png" class="d-block w-100" width="600" height="400" alt="Programacion con TypeScript">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Programacion con TypeScripts</h5>
                  <p>Practica y Programacion con TypeScripts.</p>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
</div>        
</div>
