<div class="container-fluid  navbar-dark bg-dark">
    <nav class="navbar navbar-expand-md container row">

      <!-- <div class="side-nav-button p-2 me-3 text-light" (click)='sidebarToggle()'>      </div> -->
        <!-- <button class="open"><i class="fa-solid fa-bars"></i></button> -->



      <div><a class="navbar-brand position-absolute top-0 start-0 px-4" href="https://argentinaprograma.inti.gob.ar/" target="_blank" title="Argentina Programa"><img src="../../../assets/Img/logo.png" alt="Argentina Programa"></a></div>
      


      <div class="navbar-expand">
        <ul class="navbar-nav position-absolute top-0 start-0">
          <li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/in/dekagor/" target="_blank" title="Linkedin"><button><i class="fa-brands fa-linkedin"></i></button></a></li>
          <li class="nav-item"><a class="nav-link" href="https://github.com/Dekagor" target="_blank" title="GitHub"><button><i class="fa-brands fa-github"></i></button></a></li>
          <li class="nav-item"><a class="nav-link" href="/login" role="button"title="Login"><button type="button"><i class="fa-solid fa-lock-open" (click)="login()" *ngIf="!isLogged"></i></button></a></li>
          <li class="nav-item"><a class="nav-link" href="/login" role="button"title="Logout"><button type="button"><i class="fa-solid fa-lock" (click)="onLogOut()" *ngIf="isLogged"></i></button></a></li>
        </ul>
      </div>

    </nav>
</div>

