header {
    background: url(../../../assets/Img/fondo.png);
    height: 100vh;
    width: 98.8vw;
    margin: 0! important;
    overflow-x: hidden;
    box-shadow: 5px 8px 12px black;
}

.container {
    display:flex;
    justify-content: center;
    width: 90vw;
    height: 6vh;
    font-size: 45px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    line-height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: hidden;
}

p {
    padding-left: 100px;
}
ul {
    list-style: none;
    padding-left: 350px;
    overflow: hidden;
    animation: cambiar 7s infinite;

}

p, ul {
margin: 0;
color: whitesmoke;
}

@keyframes cambiar {

    20%{ margin-top: 0;}

    25%{ margin-top: -50px;}
    50%{ margin-top: -50px;}

    55%{ margin-top: -100px;}
    80%{ margin-top: -100px;}

    85%{ margin-top: -50px;}
    95%{ margin-top: -50px;}

    100%{margin-top:-0;}

}



/* Large devices (992px) */
@media (max-width: 992px) { 
    .container {
        justify-content: flex-start;
        margin-left: 60px;
    }

    header {
        width: 100vw;
        overflow-x: hidden;
    }

    p, ul {
        font-size: 30px;
        }

    p {
        padding-left: 20px;
        }

    ul {
        padding-left: 160px;
        }
 }

@media (max-width: 767px) { 
    header {
        width: 100vw;
        overflow-x: hidden;
    }

    p, ul {
        font-size: 25px;
        }
 }


@media (max-width: 582px) {
    
    .container {
        justify-content: flex-start;
        margin-left: 60px;
    }

    header {
        width: 100vw;
    }

    p, ul {
        font-size: 20px;
        }

    ul {
        padding-left: 140px;
        }
 }

/* 
Small devices (480px) */
@media (max-width: 480px) {

    .container {
        justify-content: flex-start;
        width: 75vw;
        margin-left: 70px;
        overflow-x: hidden;
    }

    header {
        width: 100vw;
        margin: 0! important;
        overflow-x: hidden;
    }

    p, ul {
        font-size: 18px;
        overflow-x: hidden;
        }

    p {
        padding-left: 2px;
        overflow-x: hidden;
        }

    ul {
        padding-left: 90px;
        overflow-x: hidden;
        }
        
 }


