.row {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    padding: 30px;
}

.container {
    display: flex;
    margin-top: 15px;
}

.move {
    margin-top: 125px;
}

.img-fluid {
    box-shadow: 10px 10px 30px black;
}

.exp {
    margin-top: 8px;
}


@media (max-width: 768px) {
    .container {
        padding-top: 30px;
    }
}


@media (max-width: 575px) {

    .row {
        justify-content: center;
    }

    .container {
        padding-top: 30px;
    }

    .move {
        margin-left: 40px;
    }
}