<title>Portfolio FullStack</title>

<body>
    

    <!-- Componente Navbar -->
<div class="container-fluid g-0">
    <header>
        <app-navbar (sidebarToggled)="sidebarStatus = $event;"></app-navbar>
    </header>


    <!-- Componente Sidebar -->
    <main>
        <app-sidebar [sidebarStatus]="sidebarStatus" [ngClass]="{'app-sidebar-open': sidebarStatus}"></app-sidebar>
            <p class="display-area p-3" [ngClass]="{'display-area-shrink': sidebarStatus}"></p>
             <div class="rutas">
             </div>
    </main>
</div>


    <!-- Componente Header -->
    
    <section class="presentacion">
        <app-header></app-header>
    </section>



<!-- Login y Registro -->
<div class="container">
    <app-login></app-login>
</div>


<div class="container">
    <app-register></app-register>
</div>



<!-- Acerca de Mi -->
<div class="container">
<app-acerca></app-acerca>
</div>



<!-- Experiencia Laboral -->
<div class="container">
<app-experiencia></app-experiencia>
</div>
    
    
    
<!-- Educacion -->
<div class="container">
<app-educacion></app-educacion>
</div>



<!-- Mis Proyectos -->
<div class="container">
<app-proyectos></app-proyectos>
</div>



<!-- Mis Skills -->
<div class="container">
    <app-skill></app-skill>
</div>


<!-- Mi Footer -->
<div class="container">
    <app-footer></app-footer>
</div>

</body>