<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="OnCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreExperiencia">Nombre de la Empresa</label>
                    <input type="text" class="form-control" id="nombreExperiencia" name="nombreExperiencia"[(ngModel)]="nombreExperiencia" required>
                </div>

                <div class="form-group">
                    <label for="descripcionExperiencia">Descripcion del Puesto</label>
                    <input type="text" class="form-control" id="descripcionExperiencia" name="descripcionExperiencia"[(ngModel)]="descripcionExperiencia" required>
                </div>
                <button class="btn btn-info">Agregar</button>
            </form>
        </div>
    </div>
</div>
